<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Header</title>
<link rel="stylesheet" href="../styles/default.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<div>
    <header>
        <h1>
            <img alt="logo" id="logo">
            Website Title Placeholder
        </h1>
        <nav>
            <a href="index.html" id="homeL">
                <div id="homeLink">Home</div>
            </a>
            <a href="about.html">
                <div>About Us</div>
            </a>
            <a href="contact.html">
                <div>Contact Us</div>
            </a>
        </nav>
    </header>
</div>